@model Physician.Models.Doctor

<h1>Doctor Details: </h1>

<h3>@Html.DisplayNameFor(model => model.DoctorName): @Html.DisplayFor(model => model.DoctorName)</h3>
<h3>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</h3>



<p>@Html.ActionLink("Back to list", "Index")</p>